.dl {
    display: table;
    width: 100%;
    border-collapse: collapse;
    font-family: "IBM Plex Sans", -apple-system, "system-ui", "Segoe UI", Roboto, Oxygen;
    font-size: 14px;
  }
  
  .dt, .dd {
    display: table-cell;
    padding: 10px;
    border: 1px solid #e1e1e1;
  }
  
  .dt {
    width: 30%;
  }
  
  .dd {
    width: 70%;
  }
  
  .row:nth-child(odd) {
    background-color: white;
  }
  
  .row:nth-child(even) {
    background-color: #eaeaea;
  }
  
  .row {
    display: table-row;
  }