:root {
  --background-color: #f7f7f7;
  --seperator-color: #ccc;
  --text-color: #333;
  --primary-color: #05668d;
  --primary-highlight: #26bcf7;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 24px;
  color: var(--text-color);
}

h2 {
  font-size: 18px;
  font-weight: bold;
  color: var(--text-color);
}

p {
  font-size: 14px;
}

a {
  text-decoration: none;
  color: var(--primary-color);
}

a:hover {
  color: var(--primary-highlight);
}
