.container {
  font-size: 18px;
  height: 100vh;
  display: grid;
  grid-template-columns: 300px 1fr;
  grid-template-rows: 60px 1fr;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--background-color);
  border-bottom: 1px solid var(--seperator-color);
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  padding: 20px;
}

.sidebar {
  background-color: #05668d;
  color: white;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  padding: 10px;
}

.main {
  background-color: var(--background-color);
  padding: 20px;
}
