.container {
  border: 1px solid var(--seperator-color);
  font-family: "IBM Plex Sans", -apple-system, "system-ui", "Segoe UI", Roboto,
    Oxygen;
  font-size: 14px;
  background-color: white;
}

.title {
  background-color: lightgray;
  padding: 10px;
  font-weight: bold;
}

.content {
  display: grid;
  grid-template-columns: 300px 1fr;
}

.imageBox {
  border-right: 1px solid var(--seperator-color);
  padding: 10px;
  min-height: 240px;
}

.imageBox > img {
  width: 100%;
}

.changeImage {
  color: var(--primary-color);
  text-decoration: underline;
  cursor: pointer;
}

.changeImage:hover {
  color: var(--primary-color-highlight);
}

.propertyBoxes {
  display: flex;
  flex-direction: column;
}

.propertyBox {
  border-bottom: 1px solid var(--seperator-color);
}

.propertyBox:last-child {
  border-bottom: none;
}

.propertyName {
  display: inline-block;
  width: 300px;
  padding: 10px;
  font-weight: bold;
}
