.header {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--text-color);
  font-size: 24px;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.header > :first-child {
  flex-grow: 1;
}
